@model ExtremeSports2.Data.Entities.Product

<div class="tableTwo">
    <div class="table_sectionTwo">
<table class="tabletwo table-striped table-responsive-md table-bordered smfont" id="ImagesTable">
    <colgroup>
        <col span="1" />
        <col span="1" />
    </colgroup>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductImages.FirstOrDefault().ImageFullPath)
            </th>
            <th>
                       
                        <button onclick="showInPopup('@Url.Action("AddImage", "Products", new { Id = Model.Id}, Context.Request.Scheme)' , 'Nueva Imagen')" class="primary-button">Nueva Imagen</button>
                        
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProductImages)
        {
            <tr>
                <td>
                    <div class="zoom">
                        <img src="@item.ImageFullPath" style="width:100px; height:100px; border-radius:50px" />
                    </div>
                </td>
                <td>
                            <a title="Eliminar" data-id="@item.Id" class="icon_delete deleteItem" data-bs-toggle="modal" data-bs-target="#deleteDialog"><i class="ri-delete-bin-2-fill"></i></a>
       
                </td>
            </tr>
        }
    </tbody>
</table>
    
 </div>
</div>