@model ExtremeSports2.Models.CityViewModel

<div class="form-group">
    <span class="icon-large"><i class="ri-earth-fill"></i></span>
    <input asp-for="Name" class="form-control" placeholder="Ingrese una ciudad" />
 
</div>