@model ExtremeSports2.Models.StateViewModel

<div class="">
    <span class="icon-large"><i class="ri-earth-fill"></i></span>
    <input asp-for="Name" class="input-modal" placeholder="Ingrese un Departamento/Estado" />
 
</div>