@model ExtremeSports2.Data.Entities.State
<flash dismissable="true" />
<div class="container">



    <!-- BreadCrumb -->
    <div class="column">
        <div class="products one">
            <div class="flexwrap">
                <div class="row">
                    <div class="item">

                        <div class="content" style="margin-top:0;">

                            <div class="description collapse">
                                <ul>
                                    <li class="has-child expand">
                                        <a href="#0" class="icon-small" style="border-top:none">Detalles</a>
                                        <ul class="content">
                                            <li><span>Estado</span> <span>@Html.DisplayFor(model => model.Name)</span></li>
                                            <li><span>@Html.DisplayNameFor(model => model.CitiesNumber)</span> <span>@Html.DisplayFor(model => model.CitiesNumber)</span></li>
                                        </ul>

                                    </li>


                                </ul>
                                <a <a asp-action="Details" asp-route-id="@Model?.Country.Id" class="secondary-button">Regresar</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>