@model ExtremeSports2.Data.Entities.Country

@{
    ViewData["Title"] = "País";
    Layout = null;
}

<flash dismissable="true" />


<div class="container smfont">
    <form asp-action="AddOrEdit" autocomplete="off" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);" class="search">
      
        <div class="box-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="">
           @*     <span class="required">*</span>*@
                @*<label asp-for="Name" class="control-label"></label>*@
                <span class="icon-large"><i class="ri-earth-fill"></i></span>
                <input asp-for="Name" class="input-modal" placeholder="Ingrese un país"/>
               
               
            </div>
            <div class="modal-footer">
              
                <button type="submit" class="primary-button-modal"> Guardar</button>
            </div>

           
        </div>
        <div class="mensajes">
           
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        
    </form>
    
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

