
<div class="modal fade in" tabindex="-1" data-bs-backdrop="static" id="form-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content2">
            <div class="modal-header bg-primary">
                <h4 class="modal-title text-white"></h4>
                <a href="#" class="t-close modalclose flexcenter" data-bs-dismiss="modal">
                    <i class="ri-close-line"></i>
                </a>
            </div>
            <div class="modal-body">

            </div>
           
        </div>
    </div>
</div>

