@model ExtremeSports2.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}
<link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
<section>
    <flash dismissable="true" />
    <div class="login-box register">
        <form method="post">
            <h2>Resetear contraseña</h2>
           
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div class="input-box">

                <input asp-for="UserName" autocomplete="off">
                <label asp-for="UserName" class="label-login"></label>
                <i class="ri-mail-fill"></i>
                <span asp-validation-for="UserName" class="text-danger"></span>

            </div>
            <div class="input-box">

                <input asp-for="Password">
                <label asp-for="Password" class="label-login"></label>
                <i class="ri-lock-password-fill"></i>

                <span asp-validation-for="Password" class="text-danger"></span>


            </div>
            <div class="input-box">

                <input asp-for="ConfirmPassword">
                <label asp-for="ConfirmPassword" class="label-login"></label>
                <i class="ri-lock-password-fill"></i>

                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>


            </div>

           
            
            <div class="register-link">
                <button type="submit" class="btn-login" style="width:200px;">Resetear Contraseña</button>
                
            </div>
           
        </form>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}